.archive_heading {
    font-size: 48px;
    color: var(--red-background-alpha);
    padding-bottom: 100px;
}
@media (max-width: 720px) {
    .archive_heading {
        font-size: 30px;
    }
    .Archive_Team section h2 {
        font-size: 24px;
    }
}


/* ---------- Showcase ---------- */


.Archive_Showcase {
    background-image: url('../../assets/background_images/transending_boundaries.jpeg');
    height: 100vh;
    width: 100%;
}
.Archive_Showcase .archive_showcase_container {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.Archive_Showcase .archive_showcase_container h1 {
    font-size: 36px;
    padding-bottom: 36px;
}
.Archive_Showcase .archive_showcase_container p {
    font-size: 22px;
    padding-inline: 16px;
}


@media (max-width: 480px) {
    .Archive_Showcase .archive_showcase_container h1 {
        font-size: 30px;
        padding-bottom: 36px;
    }
    .Archive_Showcase .archive_showcase_container p {
        font-size: 16px;
        padding-inline: 16px;
    }
}


/* ---------- Speakers ---------- */


.Archive_Speakers {
    padding: 100px 0;
}
.Archive_Speakers .archive_speaker_template {
    position: relative;
    height: 400px;
    width: 360px;
}
.Archive_Speakers .archive_speaker_template .behind_frame {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;;
    border: 3px solid var(--border-color-dark-alpha);
    z-index: 1;
    height: 90%;
    width: 100%;

    background-image: url('../../assets/background_images/archive_frame_background_beta.jpeg');
}
.Archive_Speakers .archive_speaker_template .front_frame {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    border: 3px solid var(--border-color-white-alpha);
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 90%;
    margin: 0 auto;
    z-index: 2;
    text-align: center;
}
.Archive_Speakers .archive_speaker_template .front_frame .speaker_image {
    margin: 0 auto 16px auto;
    height: 180px;
    width: 180px;
}
.Archive_Speakers .archive_speaker_template .front_frame .speaker_name {
    font-size: 20px;
    padding-bottom: 4px;
}
.Archive_Speakers .archive_speaker_template .front_frame .speakers_profession {
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 30px;
    color: var(--red-background-alpha);
}



/* ---------- Team ---------- */



.Archive_Team {
    padding: 100px 0;
}
.Archive_Team section {
    padding: 80px 0;
}
.Archive_Team section h2 {
    font-size: 30px;
    padding-bottom: 60px;
}
.Archive_Team section .archive_team_card {
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    height: 360px;
    width: 300px;
    border-radius: 8px;
    text-align: center;
}
.Archive_Team section .archive_team_card .card_casing {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 4px;
    width: 160px;
    border-radius: 0 0 2px 2px;
    background-color: var(--red-background-alpha);
}
.Archive_Team section .archive_team_card .archive_team_card_image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 0 auto 30px auto;
}
.Archive_Team section .archive_team_card .archive_team_card_name {
    font-size: 20px;
    font-weight: 700;
}
.Archive_Team section .archive_team_card .archive_team_card_position {
    font-size: 16px;
    font-weight: 700;
    color: var(--red-background-alpha);
}