.sub_heading {
    text-align: center;
    background-color: var(--red-background-alpha);
    transform: rotate(0deg);
    height: 160px;
}
.sub_heading .content {
    text-align: center;
    width: 200vw;
    font-size: 72px;
    font-family: 'Monoton', cursive;
    padding: 36px 0;
    background-color: var(--dark-background-alpha);
    transform: rotate(-10deg);
}



.Speakers_Showcase {
    padding: 100px 24px;
}
.Speakers_Showcase .speaker_card {
    max-width: 960px;
    width: auto;
    height: 500px;
    border-radius: 24px;
    background: linear-gradient(135deg, #2E22AB 0%, #E54C9C 100%);
    padding: 30px;
    margin: 100px auto;
}
.Speakers_Showcase .speaker_card .speaker_card_container {
    height: 100%;
    width: 100%;
    border-radius: 24px;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
}
.Speakers_Showcase .speaker_card .speaker_card_container .background_image {
    background-position: top;
}
.Speakers_Showcase .speaker_card .speaker_card_container .speaker_card_image {
    border-radius: 24px 0 0 24px;
}
.Speakers_Showcase .speaker_card .speaker_card_container .speaker_card_info {
    padding: 24px 16px 16px 16px;
}
.Speakers_Showcase .speaker_card .speaker_card_container .speaker_card_info h1 {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 300;
    padding: 0 0 16px 0;
}
.Speakers_Showcase .speaker_card .speaker_card_container .speaker_card_info h2 {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 16px;
}
.Speakers_Showcase .speaker_card .speaker_card_container .speaker_card_info h3 {
    font-size: 14px;
    color: var(--text-color-primary);
}

@media (max-width: 860px) {
    .Speakers_Showcase .speaker_card {
        max-width: 360px;
        height: auto;
    }
    .Speakers_Showcase .speaker_card .speaker_card_container {
        border-radius: 16px;
        grid-auto-flow: dense;
        grid-template-columns: 1fr;
    }
    .Speakers_Showcase .speaker_card .speaker_card_container .speaker_card_image {
        border-radius: 16px 16px 0 0;
        width: 100%;
        height: 300px;
    }
    .Speakers_Showcase .speaker_card .speaker_card_container .speaker_card_info h1 {
        font-size: 36px;
        font-weight: 300;
        padding: 16px 0;
    }
    .Speakers_Showcase .speaker_card .speaker_card_container .speaker_card_info h2 {
        font-size: 18px;
        padding-bottom: 16px;
    }
    .Speakers_Showcase .speaker_card .speaker_card_container .speaker_card_info p {
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .Speakers_Showcase .speaker_card {
        padding: 16px;
    }
    .Speakers_Showcase .speaker_card .speaker_card_container .speaker_card_image {
        border-radius: 16px 16px 0 0;
        width: 100%;
        height: 300px;
    }
    .Speakers_Showcase .speaker_card .speaker_card_container .speaker_card_info h1 {
        font-size: 30px;
        font-weight: 300;
        padding: 16px 0;
    }
    .Speakers_Showcase .speaker_card .speaker_card_container .speaker_card_info h2 {
        font-size: 16px;
        padding-bottom: 16px;
    }
    .Speakers_Showcase .speaker_card .speaker_card_container .speaker_card_info p {
        font-size: 14px;
    }
}